<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects Simplified</title>
    <link rel = "stylesheet" href = "/style.css">
    
</head>
<body>
    <%- include('includes/nav') %>
    

    <div class = "PROJBOX">
        <h1>Project Editor</h1>
        <h2>Project: <%=project.title%></h2>
        <% errors.forEach(error => { %>
            <p class ="notice"><%= error %></p>
       <% }) %>
       <br>
       <%if (gettasks.length >= 1){%>
       <h3>Current Tasks:</h3>
       <%}%>
       <%if (gettasks.length == 0){%>
        <h3>Looks like there's no tasks!</h3><br>
        <%}%>
       <div class = "taskarea">
        
            <%let taskcounter = 1;%>
            <% gettasks.forEach(task => { %>
                
                
            <div class = "taskcard <%= task.completed ? 'completed' : '' %>"  id = "task-<%= task.taskid %>">
                <h4 class ="tasktitle" style = "text-align: center">Task #<%=taskcounter%><br><%=task.title%>
                <br>
                </h4>
                <p class = "taskdescription"><%=task.description%></p><br>
                <%if (task.completed == 0){%>
                    <div class = "taskoptions">
                        <br>
                        
                        
                        <a href = "/project/<%=project.id%>/complete-task/<%=task.taskid%>">Complete Task</a>
                        
                        <a href = "/project/<%=project.id%>/edit-task/<%=task.taskid%>">Edit Task</a>
                        <a href = "/project/<%=project.id%>/delete-task/<%=task.taskid%>">Delete Task</a>
                        
                        
                    </div>
                <%}%>
                <%if (task.completed == 1){%>
                    <h3>COMPLETED</h3>
                    <div class = "taskoptions">
                        <a href = "/project/<%=project.id%>/uncomplete-task/<%=task.taskid%>">Uncomplete</a>
                        <a href = "/project/<%=project.id%>/delete-task/<%=task.taskid%>">Delete Task</a>
                    </div>
                    
                    <%}%>
                
                

            </div>
            
            <% taskcounter++;}) %>
            <div class = "taskcard">
                <h4 class = "notice" style = "text-align: center">Make a Task</h4>
                <form action = "/createtask/<%=project.id%>" method = "POST">
                    <h4 for = "tasktitle" class = "notice">Task Name</h4>
                    <input type = "text" id = "tasktitle" name = "tasktitle" autocomplete="off" class = "taskinputtitle">
                    
                    <h4 for = "taskdesc" class = "notice">Task Description</h4>
                    <textarea type = "text" id = "taskdesc" name = "taskdesc" class = "taskinputdesc" autocomplete="off"></textarea><br>
                    
                    <div class = "taskoptions">
                        <button class = "taskbutton">Create Task</button>
                    </div>
                </form>
                
            </div>
       </div>
       
       
        
        
    </div>
    
</body>
</html>
